.smallprint {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 10px;
}
.topnav {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 14px;
	font-weight: bold;
}
.botnav {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 14px;
}
.bodytext2 {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 12px;
}
.bodytext3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: normal;
}
.kindertext {
	font-family: "Comic Sans MS", Tahoma, Verdana, Arial;
	font-size: 14px;
	font-weight: normal;
}
.learntext {
	font-family: "VAG Rounded Thin", "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 14px;
	font-weight: normal;
}
.altlinkwords {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 12px;
}
.store {
	font-family: "Trebuchet MS", Verdana, Tahoma, Arial;
	font-size: 18px;
}